# Introduction to Python

- Variable
- Data Type Primary
  - Number
    - Integer
    - Float
  - String
  - Boolean
- Data Type Array (Collections of Data)
  - List
  - Tuple
  - Dictionary
  - Set
- Operation

---

Nama :  Ayu Sudi D  
Batch :  HCK-012

---

In [155]:
# Run this block code

# Tampilkan hello 
print("HELLO") 

# ctrl + / 
# command + / 

print("WORLD")

HELLO
WORLD

# Variable

Rules dari membuat nama variable:
- Dimulai dengan huruf
- Perhatikan plural / singular jika dalam bahasa inggris
- bisa camelCase, PascalCase, snake_case tidak kebab-case.


Buatlah 3 variable yaitu:
- variable name dan isi dengan namamu
- variable favoriteNumber isi dengan angka kesukaanmu
- variable isHungry dan isi True jika kamu lapar dann False jika kamu tidak lapar

In [156]:
# Code dibawah ini
name = "Ayu"
favoriteNumber = 24 
isHungry = False

# Data Type Primary

## Data Type Number

Terdapat Integer dan Float

### Latihan Integer

In [157]:
# Latihan kode disini (Ikuti dalam kelas)
print(favoriteNumber)
print(type(favoriteNumber))
print(favoriteNumber == 100) # == equal, > >= < <= , != not equal

favoriteNumber = 50  # Reassignment = 
print(favoriteNumber)

# Harus ada = untuk mengubah value 
favoriteNumber += 5 
favoriteNumber = favoriteNumber + 5
print(favoriteNumber) 

print("==========")

# favoriteNumber dikurangi 10% 
favoriteNumber = favoriteNumber - (favoriteNumber / 10 )
print(favoriteNumber)

24
<class 'int'>
False
50
60
==========
54.0

### Latihan Float

In [158]:
print(favoriteNumber)
print(type(favoriteNumber))
print(int(favoriteNumber))

tigaSetengah = 1.5
print(int(tigaSetengah))
print(float(tigaSetengah))

tigaSetengah += 0.5 
print(tigaSetengah)

decimalNumber = 3.16
print(round(decimalNumber, 1))

54.0
<class 'float'>
54
1
1.5
2.0
3.2

## Data Type String

Peruntukannya untuk text dapat menggunakan kutip 1 atau 2 ' "

In [159]:
# Latihan kode disini (Ikuti dalam kelas)
name = "Ayu"
print(name)
print(type(name))
print(len(name))

# Coba tambahkan angka ke string 
name += str(4) 
name += 'sudi!     '
print(name)

# Coba fungsi len dengan ada spasi
print(len(name))

# Coba akses character pertama dan kedua
print(name[0])
print(name[1])

Ayu
<class 'str'>
3
Ayu4sudi!
14
A
y

In [160]:
# Ada 2 nama disimpan pada variable boy dan girl hitung berapa character kedua variable

boy = "adam" # 4
girl = "hawa" # 4

# Cara 1
print(len(boy) + len(girl))

# Cara 2 
gabungan = boy + girl 
print(len(gabungan))

# n = len(boy) + 5
# print(n)

8
8

String itu case sensitive yaa...

In [161]:
print(1 == '1')
print(1)
print("1")

print("ayu" == "AYU")

print("=====")
print(name)
print(name.upper())
print(name.lower())
name = "ayu sudi"
print(name.capitalize())

False
1
1
False
=====
Ayu4sudi!
AYU4SUDI!
ayu4sudi!
Ayu sudi

## Data Type Boolean

Yaitu True dan False

In [162]:
# Latihan kode disini (Ikuti dalam kelas)
print(isHungry)
# print(1 == True)
# print(0 == False)
print(type(isHungry))
print(str(isHungry) + ' holla')

False
<class 'bool'>
False holla

In [163]:
print(name, isHungry, favoriteNumber)
print(f"Namaku {name}, angka favoritku adalah {int(favoriteNumber)}. Status lapar '{isHungry}'.")
print("Namaku " + name + ", angka favoritku adalah " + str(favoriteNumber) + ". Status lapar " + str(isHungry) + ".")

ayu sudi False 54.0
Namaku ayu sudi, angka favoritku adalah 54. Status lapar 'False'.
Namaku ayu sudi, angka favoritku adalah 54.0. Status lapar False.

# Data Type Array / Data Type For Collections of Data

Kalo w3school menyebutkannya sebagai [Python Collections (Arrays)](https://www.w3schools.com/python/python_lists.asp#:~:text=Python%20Collections%20(Arrays)).

----- note disini latihan menggunakaan markdown text yaa..

## List [ ]

In [164]:
names = ["Bita", "Nicku", "Ogi", "Riki", "Naufal", "Riki", "Riki"]
print(names)
print(type(names))
print(names[0])
# Jumlah value/data/element dalam list 
print(len(names))

# Hapus riki dari names 
names.remove("Riki")
names.append("Ayu")
names.append("Bambang")
names.append("Samuel")
print(names)

# Mengakses index terakhir 
# Cara 1
n = len(names) - 1
print(names[n])
# Cara 2
print(names[-1])

namesKedua = names.copy() 
namesKedua[0] = "Sapta"
print(namesKedua)
print(names)

['Bita', 'Nicku', 'Ogi', 'Riki', 'Naufal', 'Riki', 'Riki']
<class 'list'>
Bita
7
['Bita', 'Nicku', 'Ogi', 'Naufal', 'Riki', 'Riki', 'Ayu', 'Bambang', 'Samuel']
Samuel
Samuel
['Sapta', 'Nicku', 'Ogi', 'Naufal', 'Riki', 'Riki', 'Ayu', 'Bambang', 'Samuel']
['Bita', 'Nicku', 'Ogi', 'Naufal', 'Riki', 'Riki', 'Ayu', 'Bambang', 'Samuel']

In [165]:
numbers = [2000, 1000, 5000, 100, 200]
# pass references 
kumpulanAngka = numbers.copy()
print(numbers)

# Default Ascending
kumpulanAngka.sort()
print(kumpulanAngka)

# Descending
kumpulanAngka.sort(reverse=True)
print(kumpulanAngka)

[2000, 1000, 5000, 100, 200]
[100, 200, 1000, 2000, 5000]
[5000, 2000, 1000, 200, 100]

In [166]:
print(numbers)

[2000, 1000, 5000, 100, 200]

### Pass References

In [167]:
listMakanan = ["Sushi", "Coklat", "Kopi"]
listMakananFavorite = listMakanan 
listMakananFavorite.append("Yakult")
# Keduanya berubah
print(listMakananFavorite)
print(listMakanan)

['Sushi', 'Coklat', 'Kopi', 'Yakult']
['Sushi', 'Coklat', 'Kopi', 'Yakult']

#### Cara handle Pass References

In [168]:
listMakananFavorite = listMakanan.copy()
listMakananFavorite.append("Susu")
print(listMakanan)
print(listMakananFavorite)

['Sushi', 'Coklat', 'Kopi', 'Yakult']
['Sushi', 'Coklat', 'Kopi', 'Yakult', 'Susu']

In [169]:
print(listMakananFavorite[1:3])
print(listMakananFavorite[:3])

['Coklat', 'Kopi']
['Sushi', 'Coklat', 'Kopi']

## Tuple ()

In [170]:
listInstructor = ('Ayu', 'Yuda', 'Riki', 'Sapta', 'Ayu')
print(listInstructor)
print(type(listInstructor))
print(len(listInstructor))
print(listInstructor[0])

# Tidak bisa di modifikasi
# listInstructor[0] = "Hana"
# listInstructor.append("A")

('Ayu', 'Yuda', 'Riki', 'Sapta', 'Ayu')
<class 'tuple'>
5
Ayu

## Set { }

In [171]:
listInstructor = set(listInstructor)
print(listInstructor)
print(len(listInstructor))

{'Yuda', 'Sapta', 'Riki', 'Ayu'}
4

## Dictionary { }  

keyname : value

In [172]:
persianCat = {
  'name': 'Luwy',
  'age' : 4,
  'weight': 5.5,
  'height': 50
}

print(persianCat)
print(len(persianCat))

# Akses value dengan keyname (Bukan index)
print(persianCat['name'])

# Menambahkan keyname dan value baru 
persianCat['isVaksin'] = True 
print(persianCat)

# Mengubah value (jika keyname tsb sudah ada)
persianCat['name'] = 'Snowy'
print(persianCat)

{'name': 'Luwy', 'age': 4, 'weight': 5.5, 'height': 50}
4
Luwy
{'name': 'Luwy', 'age': 4, 'weight': 5.5, 'height': 50, 'isVaksin': True}
{'name': 'Snowy', 'age': 4, 'weight': 5.5, 'height': 50, 'isVaksin': True}

# Exercise

In [190]:
listAlphabet = [
  [0, 'Ayu', 'Bita', 'Cinta'],
  [1, 'Dian', 'Ersa', 'Fanta'],
  [2, 'G', 'H', 'I']
]

print(len(listAlphabet[1][-1]))

listHck12 = {
  "students": ['Bita', 'Revo', 'Nicku', 'Samuel', 'Panji', 'Yuda'],
  "buddy": ['Ayu', 'Ayu', 'Ayu', 'Sapta', 'Sapta', 'Ayu'],
  "scores": [100, 100, 90, 90, 100, 50]
}

print(listHck12['students'][1], listHck12['buddy'][1])
print(listHck12['scores'])
print(max(listHck12['scores']))
print(min(listHck12['scores']))

5
Revo Ayu
[100, 100, 90, 90, 100, 50]
100
50